@import url("https://fonts.googleapis.com/css2?family=Proza+Libre:wght@500&family=Roboto&display=swap");

/* GENERAL STYLE*/

* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font: size 18px;
  background-color: #e5e5e5;
}
img {
  width: 100%;
}
.container {
  margin: auto;
}

/* HEADER */

.main-header {
  font-family: "Proza Libre", sans-serif;
  color: #f69604;
  background: #1c1160;
}
#logo {
  margin-left: ;
  margin-right: ;
}
h1 {
  font-size: 30px;
}
#search {
  max-width: 400px;
  margin: 5px auto;
  padding: 10px 20px;
}

#search form {
  min-width: 400px;
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
  background-color: #fff;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
}

#search form input[type="text"] {
  width: 100%;
  padding-left: 0.75em;
  padding-right: 2em;
  line-height: 2em;
  border: none;
  border-radius: 50px;
  font-size: 18px;
}

#search form input[type="submit"] {
  font-family: "ddg-serp-icons";
  border: none;
  border-radius: 0px 50px 50px 0px;
  width: 4em;
  font-size: 1.25em;
  color: #aaa;
  background-image: url("../images/search-icon.png");
  background-repeat: no-repeat;
  background-size: auto 80%;
  background-position: center;
  background-color: #f69604;
}

#search form input[type="submit"]:hover {
  background-color: #1c1160;
  color: white;
}

#mail {
  margin-left: 7rem;
}
.main-nav {
  text-align: left;
  font-size: 20px;
  color: #fff;
  background-color: #f69604;
}

.main-nav li {
  display: inline;
  margin: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.main-nav a {
  text-decoration: none;
  color: #fff;
}
#current-page {
  color: #000000;
}
.main-nav a:hover {
  background-color: #1c1160;
}

/* SHOW  CASE */
.section-text {
  margin: 5rem;
  text-align: justify;
}
.section-text h3 {
  color: #1c1160;
  margin-top: 3rem;
  padding-bottom: 1rem;
}
.section-text p {
  text-align: justify;
  margin-right: 12rem;

  font: 18px;
  line-height: 1.5rem;
}

/*FOOTER*/
.main-footer {
  background-color: #1c1160;
}
h2 {
  font-family: "Proza Libre", sans-serif;
  font-size: 20px;
  color: #f69604;
}
.media-f {
  width: 5%;
  padding-left: 20px;
}
.media-t {
  width: 4%;
  padding-left: 40px;
}
.copyright {
  background-color: #f69604;
  text-align: center;
  font-family: "Proza Libre", sans-serif;
  font-size: 12px;
}
